% -*- erlang -*-

{require_otp_vsn, "R15"}.

{sub_dirs, ["apps/avis"]}.

{deps, [
    {struct, ".*",
        {git, "https://github.com/benahlan/struct.git", "master"}
    },
    {gproc, ".*",
        {git, "git://github.com/uwiger/gproc.git", "master"}
    },
    {sync, ".*",
        {git, "https://github.com/rustyio/sync.git", "master"}
    },
    {protobuffs, "0.6.*",
        {git, "git://github.com/basho/erlang_protobuffs", {tag, "protobuffs-0.6.0"}}
    }
]}.
